<nav class="rtl navbar navbar-expand-md navbar-dark bg-dark">
  <a style="margin-top:-10px;color:pink;
font-family:ToyorAljanah;font-size:2.25rem;font-weight:bolder" class="navbar-brand"
    [routerLink]="['']" ><i class="fa fa-heart" aria-hidden="true"></i>زواج<i class="fa fa-heart" aria-hidden="true"></i></a>

  <ul *ngIf="loggedIn()" style="letter-spacing:1px;font-weight:bold;font-family:'JF Flat';font-size:1.2rem" class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/home']"  >الرئيسية </a>
    </li>
    <li class="nav-item" routerLinkActive="active" >
      <a class="nav-link" [routerLink]="['/members']" >بحث</a>
    </li>
    <li class="nav-item" routerLinkActive="active" >
      <a class="nav-link" [routerLink]="['/lists']" >تواصل</a>
    </li>
    <li class="nav-item" routerLinkActive="active" >
      <a class="nav-link" [routerLink]="['/messages']"  >دردشة</a>
    </li>
    
  </ul>
  <div dropdown  class="dropdown" *ngIf="loggedIn()">
    <i  dropdownToggle style="letter-spacing:1px;font-weight:bold;font-family:'JF Flat';font-size:1.2rem"  class="dropdown-toggle text-light nav-link">
      مرحبا بك 
      {{authService.decodedToken?.unique_name | titlecase}}
    </i>
    <ul class="dropdown-menu mt-3 " *dropdownMenu>
      <li><a class="dropdown-item" href="#">الملف الشخصي <i class="fa fa-user" aria-hidden="true"></i> </a> </li>
      <div class="dropdown-divider"> </div>
      <li (click)="loggedOut()" ><a class="dropdown-item" href="#"  >تسجيل الخروج <i class="fa fa-sign-out" aria-hidden="true"></i></a> </li>
    </ul>
  </div>
  <form *ngIf="!loggedIn()"  (ngSubmit)="login()" #loginForm="ngForm" class="ml-5 form-inline my-2 my-lg-0 ml-1">
    <input required  #username="ngModel" name="username" class="form-control mr-sm-2" type="text" placeholder="إسم المشترك" [(ngModel)]="model.username">
    <input  required #password="ngModel" name="password" class="form-control mr-sm-2" type="password" placeholder="كلمة السر" [(ngModel)]="model.password" >
    <button [disabled]="!loginForm.valid"  style="font-weight:bold;font-family:'JF Flat';font-size:1.0rem" class="btn btn-secondary my-2 my-sm-0" type="submit">تفضل
      بالدخول</button>
  </form>
</nav>
